/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */

  body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* 10. Remove list styling
  */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* 11. Prevent animations on load
  */
  body.preload * { 
    transition: none !important;
  }

  /* Root Variables */

  :root {
    --bg: #FFFAEC;
    --dark: #1D0B42;
    --light: #CFBEEA;
    --link: #321176;
    --pink: #FFD8D8;
    --shadow: #8D73B7;
  }

/* TYPE */

h1 {
    font-family: degular-display, sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 100%;
    transform: scale(1, .7);
}

h2 {
    font-family: degular-display, sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 110%;
}

h3 {
    font-family: degular-display, sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 110%;
}

h4 {
   font-family: degular-display, sans-serif;
   font-weight: 500;
   font-size: 2rem;
   line-height: 120%
}

p {
    font-size: 2rem;
    line-height: 120%;
}

a {
  text-decoration: none;
  transition: transform 150ms ease-in;
}

/* *:focus {
  outline: none;
}*/

 *:focus-visible {
  background-color: var(--pink);
  border-radius: .2rem;
  height: 110%;
  outline: .1rem solid var(--link);
  width: 110%;
}


.lil-body {
    font-size: 1.6rem;
    line-height: 120%;
}

/* MAIN STYLES */  

html {
  font-size: 10px;
  font-family: degular, sans-serif;
  color: var(--dark);
  height: auto;
}

body {
  background-color: var(--bg);
  margin: auto;
  font-family: degular, sans-serif;
  font-size: 10px;
  height: auto;
  width: 96.2%;
}

.reg-link {
    color: var(--link);
    font-weight: 600;
    line-height: 100%;
    position: relative;
    text-decoration: none;
}

.reg-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: .2rem;
  border-radius: .2rem;
  background-color: var(--link);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.reg-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.reg-link:visited {
  color: var(--link);
}

li {
    font-family: degular, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    line-height: 100%;
}

/* ---- H O M E ---- */

/* NAV */

nav {
  display: block;
  height: 6.4rem;
  width: 100%;
}

.nav-list {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin: auto;
  width: 100%;
}

.nav-item {
  margin: 3.8rem auto;
  width: auto;
}

/* HEADER*/

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: flex-start;
  width: 100%;
}

.headline {
    vertical-align: bottom;
    margin: .8rem 0;
}

.about-statement {
    margin: -2.4rem .8rem 0 0;
}

.first-contact {
    margin: .8rem 0;
}

/* MAIN */

main {
    margin: 1.8rem 0;
}

.section {
  margin: 3.6rem 0;
}

.all-projects {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project {
    width: 100%;
    margin: 1.6rem 0;
}

.image-link {
  display: block;
}

.image-link:focus-visible {
  width: 98%;
  height: 98%;
}

.image-link:focus-visible > .proj-image {
  background-color: var(--pink);
  border: solid .2rem var(--link);
  box-shadow: 
  -.6rem .6rem var(--shadow),
  -.7rem .7rem var(--dark),
  -.5rem .7rem var(--dark),
  -.7rem .5rem var(--dark);
  transform: translate(.7rem, -.7rem);
}

.proj-image {
    background-color: var(--light);
    border: solid .1rem var(--link);
    border-radius: .4rem;
    box-shadow: 
      0 0 var(--shadow),
      0 0 var(--dark),
      0 0 var(--dark)
      0 0 var(--dark);
    height: 33.6rem;
    margin: .8rem 0;
    opacity: .85;
    overflow: hidden;
    transition: transform 200ms ease-in-out;
}

.proj-image:hover {
  background-color: var(--pink);
  border: solid .2rem var(--link);
  box-shadow: 
  -.6rem .6rem var(--shadow),
  -.7rem .7rem var(--dark),
  -.5rem .7rem var(--dark),
  -.7rem .5rem var(--dark);
  transform: translate(.7rem, -.7rem);
}

.proj-one {
  background-image: url("./images/bnp.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 130%;
  transition: 150ms ease-in-out;
}

.proj-one:hover {
  animation: imagefadeone 100ms ease-in-out 1;
  background-image: url("./images/bnp.png");
  background-position: 70% 50%;
  background-size: 150%;
}

@keyframes imagefadeone {

  0% {
    opacity: 1;
  }

  100% {
    opacity: .8;
  }
  
}

.title-link {
  display: block;
  height: auto;
  width: 100%;
}

.proj-two {
  position: relative;
}

.proj-two > img {
  position: absolute;
  transition: 150ms ease-in;
}

.phonetop {
  margin-left: -1rem;
  margin-top: 6rem;
  transform: scale(1.1);
  z-index: 100;
}

.phonemid {
  margin-top: 5rem;
  margin-left: 3rem;
  transform: scale(1.1);
  z-index: 10;
}

.phonebottom {
  margin-top: 4rem;
  z-index: -100;
}

.proj-two:hover > .phonetop {
  margin-left: 7.4rem;
  margin-top: 7rem;
  transform: scale(1.5);
  } 

  .proj-two:hover > .phonemid {
  margin-left: 8rem;
  margin-top: 6rem;
  transform: scale(1.45);
} 

.proj-two:hover > .phonebottom {
  margin-left: -3rem;
} 

.proj-three:hover  #right {
  animation: designright 200ms ease-in-out alternate 2;
}

@keyframes designright {
  0% {
      transform: translateY(0);
    }

  100% {
    transform: translateY(25rem);
  }
}

.proj-three:hover  #middle {
  animation: designmid 250ms ease-in alternate 2;
}

@keyframes designmid {
  0% {
      transform: translateY(0);
    }

  100% {
    transform: translateY(-25rem);
  }
  }

  .proj-three:hover  #left {
    animation: designleft 300ms ease-in alternate 2;
  }
  
  @keyframes designleft {
    0% {
        transform: translateY(0);
      }
  
    100% {
      transform: translateY(25rem);
    }
    }

.proj-title {
  margin: .8rem 0;
}

.study-link {
  color: var(--dark) !important;
  display: inline-block;
  font-weight: 400;
  height: auto;
  margin-top: .8rem;
  transition: 150ms ease-in;
  width: auto;
}

.case-study  .study-link:hover {
  color: var(--link) !important;
  transform: translateX(.4rem);
}

.descript-link {
  display: inline-block;
  width: 100%;
}

.descript-link:focus-visible {
  background-color: var(--pink);
  border-radius: .2rem;
  outline: .1rem solid var(--link);
}

/*.descript-link:hover > .description {
  margin-left: .2rem;
  margin-top: .2rem;
}*/

.description {
  transition: 150ms ease-out;
}

.recs {
  margin: 1.8rem 0;
}

.all-recs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: .8rem 0;
  width: 100%;
}

.recommendation {
  margin: 1.6rem 0;
}

.first-rec {
  margin-top: .8rem;
}

.attribute {
  margin: 1.6rem 0 1.6rem 0;
  text-align: right;
}

footer {
  height: 4.8rem;
  margin: 9.6rem 0 2.4rem;
  /* border-top: .1rem solid var(--link); */
}

.footer-text {
  color: var(--link);
  text-align: right;
}

/* ---- A B O U T ---- */

header.about {
  justify-content: flex-start;
}

.about-header {
  width: 100%;
}

.about-about {
  margin: 0 .8rem 0 0;
  width: 100%;
}

.about-photo {
  background-color: var(--pink);
  border-radius: .4rem;
  height: 30rem;
  overflow: hidden;
  width: 100%;
}

.profile-pic {
  max-height: 132%;
  margin: auto;
}

/* ---- CASE STUDIES ---- */

.cs-body {
  max-width: 80rem;
}

.cs-header {
  margin: 0 auto;
  width: 100%;
}

.cs-main {
  margin-bottom: 7rem;
}

.cs-title {
  border-bottom: solid .2rem var(--dark);
  font-size: 3.6rem;
  margin-top: 4.8rem;
  width: 100%;
}

.cs-headline {
  font-size: 3.6rem;
  margin-top: -2.4rem !important;
}

.cs-header-image {
  aspect-ratio: 1.5 / 1;
  border: solid .1rem var(--light);
  border-radius: .4rem;
  margin: -4rem auto 2.4rem;
  width: 100%;
}

.section {
  /*max-width: 64.4rem;*/
}

.cs-body-copy {
  margin-top: -1.6rem;
}

.cs-sub-body-copy {
  margin: .8rem auto 1.6rem;
}

.cs-image {
  aspect-ratio: 1.5 / 1;
  border: solid .1rem var(--light);
  border-radius: .4rem;
  margin: 2.4rem auto 3.6rem;
  width: 100%;
}

.metrics-lead {
  align-items: baseline;
  display: grid;
  justify-content: left;
}

.sub-sub-title {
  margin: 3.6rem auto .2rem;
}

.sst-1 {
  margin-top: 0;
}

.metrics-fill {
  margin: .8rem 0 .2rem;
}

/* ---- MEDIA QUERIES ---- */

  /* --- MAX WIDTH ---*/

@media only screen and (max-width: 320px) {  
  .about-statement {
    margin-top: -4rem;
  } 
  
  .profile-pic {
      margin-top: 7.2rem;
    }
  
  }

  /* --- MIN WIDTH ---*/

    /* --- 740 ---*/

@media only screen and (min-width: 740px) {

  h1 {
    font-size: 6.4rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  li {
    font-size: 2.4rem;
  }

  body {
        margin: auto;
        max-width: 87.2rem;
    }

    nav {
      height: 9.6rem;
    }

    .nav-list {
      justify-content: flex-start;
    }

    .nav-item {
      margin: 4.8rem 2.4rem;
    }

    .first-nav {
      margin-left: 0;
    }

    .header-div {
      width: 90%;
    }

    .statement {
      margin: .8rem 0;
    }

    .section {
      margin: 7.2rem 0;
    }

    .all-projects {
      column-gap: 1.2rem;
      justify-content: flex-start;
    }

    .project {
        width: 49%;
    }

    .proj-image {
      max-width: 40rem;
    }

    .project-last {
      margin: 1.6rem 0;
    } 

    .recommendation {
      width: 49%;
    }

    .first-rec {
      margin-top: 1.6rem;
    }
  
    /* --- ABOUT --- */

    .about-header {
      width: 50%;
    }
    
    .about-photo {
      margin: 8rem 0 0 1.6rem;
      width: 34%;
    }

    .profile-pic {
      margin: 22% auto;
    }
  }

    /* --- CASE STUDY ---*/

  .cs-header {
    width: 100%;
  }

  .cs-header-image {
    margin-top: 0rem;
  }

  .cs-headline {
    font-size: 7.2rem;
  }

  .section {
    margin-bottom: -2.4rem;
  }

  .cs-section-title {
    margin-bottom: 2.4rem;
  }

  .cs-subsection {
    margin: 2.4rem auto;
  }

  .subsection-title {
    margin-bottom: .8rem;
  }

    /* --- 1024 ---*/

@media only screen and (min-width: 1024px) {

    h1 {
      font-size: 7.2rem;
    }

    body {
        max-width: 100rem;
    }

    .big-body {
      font-size: 2.4rem;
    }  

    .all-projects {
      column-gap: 1.6rem;
    }

    .project {
        width: 32%;
    }

    .profile-pic {
      margin: auto;
    }

}

    /* --- 1440 ---*/

@media only screen and (min-width: 1440px) {

  h1 {
    font-size: 9.6rem;
  }

  body {
        margin: auto;
        max-width: 1120px;
  }

  .all-projects {
    column-gap: 2rem;
  }

}