/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */

  body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* 10. Remove list styling
  */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* 11. Prevent animations on load
  */
  body.preload * { 
    transition: none !important;
  }

/* TYPE */

h1 {
    font-family: degular-display, sans-serif;
    font-weight: 600;
    font-size: calc(48px + 1.5vw);
    line-height: 90%;
    transform: scale(1, .7);
}

h2 {
    font-family: degular-display, sans-serif;
    font-weight: 200;
    font-size: 3rem;
    line-height: 90%;
}

h3 {
    font-family: degular-display, sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 90%;
}

h4 {
    font-family: degular-display, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 90%;
}

p {
    font-size: 1.6rem;
    line-height: 120%;
}


/* MAIN STYLES */  

html {

    font-size: 10px;
    font-family: degular, sans-serif;
    color: #6900A9;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: auto;
    font-family: degular, sans-serif;
    font-size: 10px;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    font-family: degular, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 4vw;
    margin: 2rem auto;
    line-height: 100%;
}

.big-wrap {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    height: 100%;
    margin: 0 2.5%;
    max-width: 172.8rem;
    position: relative;
}

/* HEADER*/

header {
    display: grid;
    column-gap: 2%;
    grid-area: header;
    grid-template-areas: 
    "br br br  profile profile profile"
    "title title title title title title";
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}

.header-box {
    background-color: #ffffff;
    border: .2rem solid #6900A9;
 /*   filter: drop-shadow(-.4rem .4rem 0 #3D0299); */
    margin: .8rem auto;
    position: relative;
    width: 100%;
    
}

.header-box:before {
    background-color: #6900A9;
    border: .2rem solid #6900A9;
    border-radius: 0 25.6rem 0 0;
    content: '';
    position: absolute;
    top: .8rem;
    right: .8rem;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.br {
    grid-area: br;
    width: 100%;
    aspect-ratio: 1/1;
}

.circle-text-box {
    width: 95%;
    aspect-ratio: 1/1;
}

.circle-text {
    border-radius: 50%;
    fill: currentColor;
    font-family: degular-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    height: auto; 
    margin: 5%;
    position: absolute;
    text-transform: uppercase;
    width: 90%;
    z-index: 10;
    transition: 2s;
}

.circle-text:hover {
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(360deg);
    transition: 2s;
    transition-timing-function: linear;
}


.logo {
    width: 50%;
    position: absolute;
    top: 30%;
    left: 26%;
}



@keyframes aura {
    0% {
        background-position: 63% 25%;
        background-size: 230%;
    }
    100% {
        background-position: 64% 27%;
        background-size: 250%
    }
}

.profile {
    aspect-ratio: 1/1.33;
    background-image: url(./images/profilewaves.svg);
    background-size: 230% ;
    background-position: 63% 25%;
    background-repeat: no-repeat;
    border-radius: 0 17.6rem 0 0;
    grid-area: profile;
    width: 100%;
    transition: 3s;
}

.profile:hover {
    animation: aura 3s linear alternate infinite;
}

.clipper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.photo {
    width: 93%;
    height: auto;
    margin-top: 47%;

}

.title {
    align-items: center;
    display: flex;
    grid-area: title;
    justify-content: center;
}

.title-text {
    margin: 4%;
    text-align: center;
}

/* MAIN */

main {
    display: grid;
    column-gap: 2%;
    grid-area: main;
    grid-template-areas: 
    "display display display display display display"
    "work work work work work work"
    "about about about about about about"
    "recs recs recs recs recs recs";
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
    margin: 0 auto 2.4rem auto;
    max-width: 64.4rem; 
    width: 100%;
}

.work {
    grid-area: work;
    margin-top: 2.4rem;
}

.work-title {
    height: 7.2rem !important;
}

.project {
    display: flex;
    align-items: center;
    margin: .4rem 0;
    height: 4.8rem;
    width: 100%;
}

.project-comp {
    display: inline;
    margin: .4rem;
    white-space: nowrap;
}

.project-number {
    margin-left: 0;
}

.project:hover {
    background-color: #6900A9;
    transition: 1s;
}

.project:hover > .project-wrapper {
    color: #ffffff;
}

.project:hover > .project-wrapper > .project-comp {
    margin-left: .8rem;
    transition: .3s;
}

.project-wrapper {
    text-decoration: none;
}

.first-project {
    margin-left: 0;
    margin-top: 2.4rem;
}

.display {
    display: grid;
    grid-area: display;
    grid-template-areas: 
    "title title title title title title title"
    "d-window d-window d-window d-window d-window d-window d-window"
    ". . . tags tags tags tags"
    "synops synops synops synops synops synops synops"
    "link link link link link link link";
    grid-template-columns: repeat(7, 1fr); 
    margin-bottom: 2.4rem;
    width: auto;
}

.project-title {
    display: none;
    grid-area: title;
    font-size: 3.6rem;
    font-weight: 500;
}

.display-window {
    background-color: #6900A9;
    background-position: 60% 50%;
    border-radius: 0 0 0 25.6rem;
    grid-area: d-window;
    height: 40vh;
    overflow: hidden;
    position: relative;
    transition: .8s;
}

.display-window:before {
    visibility: hidden;
}

.default-img {
    position: absolute;
    top: 0%;
}

.dt {
    display: none;
}

.tags {
    font-family: degular-display, sans-serif;
    font-size: 1.6rem;
    grid-area: tags;
}

.synopsis {
    font-family: degular-display, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    grid-area: synops;
    margin: 1.6rem 0;
}

.study-link {
    grid-area: link;
    font-size: 2.4rem;
    color: #280041;
}

a.study-link-read {
    text-decoration: underline;
}

.about {
    grid-area: about;
    margin-top: 2.4rem;
}

.about-title {
    height: 7.2rem !important;
}

.section-title {
    align-items: center;
    display: flex;
    height: 7.2rem;
    justify-content: center;
    width: 100%;
}

.section-title-text {
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
    margin-top: -1%;
}

.bio-box {
    background-color: #ffffff;
    border: .2rem solid #6900A9;
    height: auto;
    width: 100%;
    margin: 2.4rem 0;
}

.bio {
    padding: 1.6rem .8rem;
}

.recs {
    padding: .8rem .8rem;
    padding-bottom: 1.6rem;
}

.recommendations {
    display: grid;
    grid-area: recs;
    grid-template-areas: 
    "rectitle rectitle rectitle"
    "recone recone recone"
    "rectwo rectwo rectwo";
    grid-template-columns: repeat(3, 1fr); 
    margin: 2.4rem 0;
}

.rec-title {
    font-size: 2.4rem;
    font-weight: 600;
    grid-area: rectitle;
}

.rec-one {
    grid-area: recone;
}

.rec-two {
    grid-area: rectwo;
}

/* FOOTER */

footer {
    display: grid;
    column-gap: 2%;
    grid-area: footer;
    grid-template-areas: 
    "contact contact contact contact contact contact contact contact contact contact contact contact "
    "bybilly bybilly bybilly bybilly bybilly bybilly bybilly bybilly bybilly bybilly bybilly bybilly";
    grid-template-columns: repeat(12, 1fr);
    padding: 4.8rem 0 2.4rem 0;
}

.contact {
    align-items: center;
    display: grid;
    grid-area: contact;
    grid-template-areas: 
    "message"
    "email"
    "linkedin";
    grid-template-columns: repeat(1, 1fr);
    height: 12.8em;
}

.contact-child {
    margin: .8rem 2.4rem;
}

.contact-message {
    grid-area: message;
}

.contact-link:hover {
    text-decoration: underline;
    transition: 1s;
}

.email {
    grid-area: email;
    font-size: 1.6rem;
}

.linkedin {
    grid-area: linkedin;
    font-size: 1.6rem;
}

.by-billy {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-area: bybilly;
    grid-template-areas: 
    "designedby";
    grid-template-columns: repeat(1, 1fr);
    height: 9.6rem;
}

.designed-by {
    grid-area: designedby;
    margin: auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 540px) {
   header {
        grid-template-areas: 
        "br br . . profile profile"
        "title title title title title title";
        grid-template-columns: repeat(6 1fr);
   }

   main {
    margin-bottom: 3.6rem;
   }

   .display {
    grid-template-areas:
    "title title title title title title title" 
    "d-window d-window d-window d-window d-window d-window d-window"
    ". . . tags tags tags tags"
    "synops synops synops synops synops synops synops"
    "link link link link link link link";
   }

   .window-display {
    top: -70%;
}

   .project-title {
    font-size: 4.8rem;
   }
}



@media screen and (min-width: 1024px) {

    html {
        margin: 2.5%;
    }

    h1 {
        font-size: calc(48px + 1.5vw);
    }

    .big-wrap {
        margin: 0 auto;
    }

    header {
         grid-template-areas: 
         "br title title title title profile";
         grid-template-columns: repeat(6, 1fr);
    }

    .title {
        height: 66%;
    }

    main {
        grid-template-areas: 
        "work work work display display display display display display display about about"
        "recs recs recs recs recs recs recs recs recs recs recs recs";
        grid-template-columns: repeat(12, 1fr);
        max-width: 100%;
    }

    .work {
        margin-top: calc(-4rem - 2vw);
    }

    .display {
        grid-template-areas:
        "title title title title title title title" 
        "d-window d-window d-window d-window d-window d-window d-window"
         ". . tags tags tags tags tags"
        ". . synops synops synops synops synops"
        ". . link link link . .";
        margin-top: calc(-4rem - 2vw);
        max-height: 25.2rem;    
    }

    .window-display {
        top: -102%;
    }

    .default-img {
        position: absolute;
        top: -35%;
    }

    .project-title {
        font-size: 6rem;
       }

   /* .synopsis {
        margin: -12% 0;
    }*/

    .recommendations {
        grid-template-areas: 
        "rectitle rectitle rectitle rectitle rectitle rectitle . . . . . ."
        "recone recone recone recone recone . rectwo rectwo rectwo rectwo rectwo .";
        grid-template-columns: repeat(12, 1fr); 
        margin: 2.4rem 0;
    }

    footer {
        grid-template-areas: 
        ". . contact contact contact contact contact contact bybilly bybilly bybilly bybilly";
    }

    .contact {
        column-gap: .8rem;
        grid-template-areas: 
        ". message message message email email email email email linkedin linkedin linkedin";
        grid-template-columns: repeat(12, 1fr);
        height: 9.6rem;
    }

    .contact-child {
        margin: .8rem;
    }

 }

 @media screen and (min-width: 1600px) {
    .default-img {
        position: absolute;
        top: -55%;
    }
 }

@media screen and (max-height: 750px) {
    .window-display {
        top: -150%;
    }
}