html {
  font-size: 10px;
  color: #FFFFFF;
}
/* Type */
@font-face {
  font-family: 'Karrik';
  src: url("../type/karrik/WOFF/Karrik-Regular.woff");
  src: url("../type/karrik/WOFF2/Karrik-Regular.woff2");
}

@font-face {
  font-family: 'Karrik-Italic';
  src: url("../type/karrik/WOFF/Karrik-Italic.woff");
  src: url("../type/karrik/WOFF2/Karrik-Italic.woff2");
}


a {
  text-decoration: none;
}

body {
  background-color: #333333;
  margin: 0 auto;
  font-family: 'Karrik';
}

li {
  font-size: 1.6rem;
}

.container {
  width: 100vw;
}

nav {
  width: 100%;
  height: 4.8rem;
  border: solid #FFFFFF;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.5%;
  margin: 0 auto;
  width: 90%;
}

.left-nav {
  border-right: .3rem solid #FFFFFF;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 4.8rem;
  vertical-align: middle;
}

.pl-text-logo {
  margin: .6rem auto;
}

.right-nav-about {
  border-left: .3rem solid #FFFFFF;
  border-right: .3rem solid #FFFFFF;
  grid-column-start: 8;
  grid-column-end: 11;
  text-align: center;
}

.about {
  line-height: 1.8rem;
  margin: 1.4rem auto;
}

.right-nav-shop {
  grid-column-start: 11;
  grid-column-end: 13;
  text-align: center;
}

.shop {
  line-height: 1.8rem;
  margin: 1.4rem auto;
}



.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.5%;
  margin: 0 auto;
  width: 90%;
}

.product-intro-photo {
  background-color: #F8B1B6;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: repeat(12, 1fr);
  height: 18.8rem;
  margin-top: 1.6rem;
  overflow: hidden;
}

.skele {
  grid-column-start: 5;
  grid-column-end: 11;
  height: 124%;
}
