html {
  font-size: 10px;
  color: #FFFFFF;
}
/* Type */
@font-face {
  font-family: 'Mulish-Black';
  src: url('RobotoFlex-VF.ttf') format('woff2 supports variations'),
       url('RobotoFlex-VF.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Karrik';
  src: url("../type/karrik/WOFF/Karrik-Regular.woff");
  src: url("../type/karrik/WOFF2/Karrik-Regular.woff2");
}

@font-face {
  font-family: 'Karrik-Italic';
  src: url("../type/karrik/WOFF/Karrik-Italic.woff");
  src: url("../type/karrik/WOFF2/Karrik-Italic.woff2");
}

/* GLOBAL */

h1 {
  font-size: 8.4rem;
  font-family: 'DM Mono';
  text-align: center;
}

h3 {
  font-size: 3.6rem;
  font-family: 'Karrik';
  text-align: center;
}


a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  background-color: #333333;
  margin: 0 auto;
  font-family: 'Karrik';
}

li {
  font-size: 1.6rem;
}

.container {
  width: 100vw;
}

/* NAVIGATION */

nav {
  width: 99%;
  height: 4.8rem;
  border: solid #FFFFFF;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.5%;
  margin: 0 auto;
  width: 90%;
}

.left-nav {
  grid-column-start: 1;
  grid-column-end: 8;
  height: 4.8rem;
}

.pl-text-logo {
  margin: 1.4rem auto;
}

.right-nav-about {
  border-left: .3rem solid #FFFFFF;
  border-right: .3rem solid #FFFFFF;
  grid-column-start: 8;
  grid-column-end: 11;
  text-align: center;
}

.about {
  line-height: 1.8rem;
  margin: 1.4rem auto;
}

.right-nav-shop {
  grid-column-start: 11;
  grid-column-end: 13;
  text-align: center;
}

.shop {
  line-height: 1.8rem;
  margin: 1.4rem auto;
}

/* MAIN */

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.5%;
  margin: 0 auto;
  width: 90%;
}

.product-intro-photo {
  background-color: #F8B1B6;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: repeat(12, 1fr);
  height: 18.8rem;
  margin-top: 1.6rem;
  overflow: hidden;
}

.skele {
  grid-column-start: 5;
  grid-column-end: 11;
  height: 130%;
}

.product-intro-number {
  grid-column-start: 4;
  grid-column-end: 10;
  margin-top: 2.4rem;
  justify-content: center;
}

.three {
  color: #333333;
  -webkit-text-stroke-width: .15rem;
  -webkit-text-stroke-color: #FFFFFF;
  margin: 0 auto;
}

.product-intro-name {
  grid-column-start: 4;
  grid-column-end: 10;
  margin-top: 2.4rem;
  justify-content: center;
}

.noodles {
  font-weight: bold;

}

.product-intro-date {
  grid-column-start: 4;
  grid-column-end: 10;
  margin-top: 2.4rem;
  text-align: center;
}

.product-intro-details {
  grid-column-start: 4;
  grid-column-end: 10;
  margin-top: 2.4rem;
  text-align: center;
}

.main-link {
  font-family: 'DM Mono';
  border-bottom: .15rem solid;
}

.product-shop {
  grid-column-start: 1;
  grid-column-end: 6;
  margin-top: 3.6rem;
  text-align: left;
}

.bar
{
  grid-column-start: 1;
  grid-column-end: 13;
  margin-top: 2.4rem;
  height: 1.6rem;
  background-color: #FFFFFF;
}

/* FOOTER */

.footer {
  background-color: #FFFFFF;
  margin: 3.6rem auto 0 auto;
  width: 100%;
  height: 21.2rem;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.5%;
  grid-template-rows: (8, 2.65rem);
  margin: 0 auto;
  width: 90%;
  height: 100%;
  align-items: center;
}

.foot-link {
  color: #333333;
}

.about-footer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.shop-footer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.contact-footer {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.copyright-footer {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.copyright {
  font-size: 1rem;
}

.logo-footer {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 7;
}

.home-link {
  width: 100%;
  height: auto;
}

.pl-logo {
  width: 100%;
  max-width: 16.8rem;
}
